.movie-box {
    width: 70vw;
    height: 75vh;
    padding: 25px 30px;
    background-color: #ffffff;
    border-radius: 18px;
    box-shadow: 4px 4px 50px rgba(0, 0, 0, 0.19);
    display: flex;
    flex-direction: column;
}

.input-box{
    all: unset;
    width: 100%;
    height: 100%;
    padding-left: 10px;
    font-size: 1.2rem;

}

.bio {
    margin-top: 8px;
    margin-bottom: 2rem;
    color: #6a6c73;
    font-size: 1.2rem;
    font-weight: 500;
}

.input-box::placeholder {
    font-size: 1.1rem;
    font-weight: 500;
    letter-spacing: -0.2px;
}



.search-box {
    padding-left: 15px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.full-search-box {
    width: 100%;
    display: flex;
    gap: 1.7rem;
    justify-content: space-between;
}

.reset-button {
    cursor: pointer;
    background-color: #2563ea;
    padding: 8.5px 10px;
    display: flex;
    gap: 8px;
    border-radius: 7px;

}

.reset-button span {
    font-weight: 600;
    color: white;
}

h3 {
    color: #6a6c73;
    margin: 1.5rem 0;
    font-weight: 600;
}



.movie-component {
    display: flex;
    height: 37vh;
    gap: 1.5rem;
}

.matching-movies {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 12px;
    overflow: scroll;
    overflow-x: hidden;
     max-height: 320px;   
    overflow-y: auto;    

}


.fav-movies {

    width: 50%;
    display: flex;
    flex-direction: column;
    

}

.fav-movies h4 {
    margin-bottom: 1.1rem;
}

h4 {
    font-size: 1.2rem;
    font-weight: 700;
    color: #24282f;
    letter-spacing: -0.5px;
    margin-bottom: 6px;
    top: 0;
    position: sticky;
    background-color: #ffffff;

}

.no-movie {
    margin-top: 2rem;
    align-self: center;
    font-style: italic;
}

.fav-movie-card {
    padding: 4px 8px;
    border-radius: 12px;
    width: max-content;
    justify-content: center;
    display: flex;
    gap: 6px;
    align-items: center;
    background-color: #eff0f2;


}

h6 {
    color: #74767b;
    font-size: 0.8rem;
}

.fav-movie-list {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    gap: 8px;
    overflow: hidden;
}


.lni-xmark {
    cursor: pointer;
}

@media(max-width: 1300px){
    .movie-box{
        width: 90vw;
        height: auto;
        margin: 2rem 0 5rem 0;

    }

}

@media(max-width: 1000px){
    .movie-component {
        flex-direction: column;
        height: auto;
    }

    .matching-movies,
    .fav-movies {
        width: 100%;
        height: auto;
    }

    .fav-movies {
        order: 2; 
        margin-top: 2rem;
    }

    .fav-movie-list {
        
        overflow-x: auto;
        overflow-y: hidden;
        padding-bottom: 10px;
    }

    .fav-movie-card {
        flex-shrink: 0; 
        min-width: max-content;
    }
}
    

