.card{
    
    padding: 2rem 2rem 1.5rem 2rem;
    border-radius: 17px;
    box-shadow: 1px 1px 30px  rgba(0, 0, 0, 0.194);

}


.light-theme .card {
  background-color: #FFFFFF;
  color: #000;
}

.dark-theme .card {
  background-color: #0a0d11;
  color: #ffffff;
}
